@charset "UTF-8";

html {
	font-size: 62.5%;
	font-family: sans-serif;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	overflow-y: scroll;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit
}

body {
	background-color: #ffffff;
	color: #606c76;
	margin: 0;
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 18px;
	letter-spacing: .3px
}

.header .navbar {
	position: relative;
	width: 100%;
	text-align: center;
	white-space: nowrap;
	border-bottom: 1px solid #eee;
	-webkit-box-shadow: 0 0 1px #eee;
	-moz-box-shadow: 0 0 1px #eee;
	box-shadow: 0 0 1px #eee;
}

.header .nav-item {
	position: relative;
	overflow-x: auto;
}

.header .nav-item a {
	position: relative;
	display: inline-block;
	color: #888;
	font-size: 14px;
	text-decoration: none;
	line-height: normal;
	min-height: 50px;
	padding: 15px;
}

.header .container {
	padding-top: 30px;
	padding-bottom: 50px;
	text-align: center;
}

.header .maintitle {
	margin: 0;
	font-size: 80px;
	font-weight: 100;
	line-height: normal;
	color: #444;
	text-transform: uppercase;
}

.header .maintitle a {
	color: #444;
	text-decoration: none;
}

.header .subtitle {
	margin: 0;
}