@charset "UTF-8";

html {
	font-size: 10px;
	font-family: sans-serif;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	overflow-y: scroll;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit
}

body {
	background-color: #fff;
	color: #606c76;
	margin: 0;
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 18px;
	letter-spacing: .3px
}

img {
	border: 0;
	vertical-align: middle;
	display: block;
	width: 100%;
	height: auto;
}

a {
	color: #4285f4;
	text-decoration: none;
	background-color: transparent;
	-webkit-transition: all .5s ease 0s;/* Safari 3.2+, Chrome */
	-moz-transition: all .5s ease 0s;/* Firefox 4-15 */
	-o-transition: all .5s ease 0s;/* Opera 10.5-12.00 */
	-khtml-transition: all .5s ease 0s;/* Konqueror */
	transition: all .5s ease 0s;/* Firefox 16+, Opera 12.50+ */
}

a:hover,
a:focus {
	color: #00cff1;
}

a:active,
a:hover {
	outline: 0;
}

a:focus {
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.hidden,
[hidden],
template {
	display: none !important;
}

div:before,
div:after,
.clear:before,
.clear:after {
	display: table;
	content: " ";
}

div:after,
.clear:after {
	clear: both;
}

.header .navbar {
	position: relative;
	width: 100%;
	text-align: center;
	white-space: nowrap;
	border-bottom: 1px solid #ddd;
}

.header .nav-item {
	position: relative;
	overflow-x: auto;
}

.header .nav-item a {
	position: relative;
	display: inline-block;
	color: #888;
	font-size: 14px;
	text-decoration: none;
	line-height: normal;
	min-height: 50px;
	padding: 15px;
}

.header .container {
	padding: 30px 15px 60px 15px;
	text-align: center;
}

.header .maintitle {
	margin: 0;
	font-size: 80px;
	font-weight: 100;
	line-height: normal;
	color: #444;
	text-transform: uppercase;
}

.header .maintitle a {
	color: #444;
	text-decoration: none;
}

.header .subtitle {
	margin: 0;
}

.content {
	position: relative;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.content .widget {
	position: relative;
	min-height: 1px;
}

@media (min-width:768px) {
	.content {
		width: 750px;
	}

}

@media (min-width:992px) {
	.content {
		width: 970px;
	}

	.content .widget {
		float: left;
		padding-right: 15px;
		padding-left: 15px;
	}

	.content .widget.Blog {
		margin-left: -15px;
		width: 70%;
	}

	.content .widget.PopularPosts {
		margin-right: -15px;
		width: 30%;
	}

}

@media (min-width:1200px) {
	.content {
		width: 1200px;
	}

}

.post,
.sidebar-widget {
	margin-bottom: 35px;
	border: 1px solid #ddd;
}

.post {
	padding: 50px 40px;
	margin-bottom: 50px;
}

.post .post-image {
	position: relative;
	display: flex;
	margin: -50px -40px 35px;
	justify-content: center;
	flex-direction: column;
}

.post .post-title {
	margin: 0 0 15px;
	font-size: 35px;
	font-family: "Droid Serif", Georgia, serif;
	font-weight: 700;
	line-height: normal;
}

.post-title a {
	color: #424242;
}

.post .post-meta * {
	font-style: normal;
	color: #424242;
}

.post .post-meta .ig {
	position: relative;
	background: url(https://i.imgsafe.org/0a9a006f56.png) top left no-repeat;
	width: 16px;
	height: 16px;
	margin-right: 5px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	zoom: 1;
}

.post .post-meta .ig-time {
	background-position: -6px -5px;
	width: 14px;
	margin-top: -4px;
}

.post .post-meta .ig-label {
	background-position: -161px -5px;
	margin-left: 15px;
}

.post-text .readmore {
	text-align: center;
	text-transform: uppercase;
	margin: 35px 0 -10px;
}

.post-text .readmore a {
	font-size: 14px;
	letter-spacing: 1px;
	overflow: hidden;
	padding: 12px 30px;
	border: 1px solid #ddd;
}

.post-text .readmore a:hover {
	font-weight: 700;
	color: #e8e8e8;
	background-color: #00a1f1;
	border-color: #00a1f1;
}

.footer {
	text-align: center;
	padding: 35px 15px;
	border-top: 1px solid #ddd;
}

.footer p {
	font-size: 14px;
	margin: 0;
}